@import "tailwindcss";

.hide-scrollbar {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes colour-fade {
  0%, 100% {background-color: rgb(147 197 253);}
  33% {background-color: rgb(252 165 165);}
  66% {background-color: rgb(134 239 172);}
}

.bg-colour-fade {
  animation: colour-fade 60s ease-in-out infinite;
}

@media (prefers-reduced-motion: reduce) {
  .bg-colour-fade {
    animation: none;
    background-color: rgb(142, 142, 142);
  }
}