@import "tailwindcss";

.hide-scrollbar {
  overflow-y: auto;
  -ms-overflow-style: auto;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

[data-neon="on"] .neon-inner::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1.5vh;
  border: 0.25vh solid #00f0ff;
  pointer-events: none;
  box-shadow:
    inset 0 0 0.5em #00f0ff,
    inset 0 0 1em #00f0ff;
  animation: pulse 15s infinite;
}

[data-neon="on"] .neon-outer {
  position: relative;
}

[data-neon="on"] .neon-outer::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 2.5vh;
  pointer-events: none;
  box-shadow:
    0 0 0.5em #00f0ff,
    0 0 0.75em #00f0ff,
    0 0 1em #00f0ff;
  animation: pulse 15s infinite;
}